<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Status</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{if .LocalServer}}
            <link rel="stylesheet" type="text/css" href="static/pure-release-1.0.0/pure.css">
            <link rel="stylesheet" type="text/css" href="static/local.css">
        {{end}}
        <style type="text/css">
            .margin-auto {
                margin: auto;
            }
            .is-center {
                text-align: center;
            }
            .text-left {
                text-align: left;
            }
            .text-right {
                text-align: right;
            }
            body {
                font-family: 'Space Mono', monospace;
                font-size: 16px;
            }
        </style>        
    </head>
    <body class="is-center">

        <a class="pure-button" href="/">Status</a>
        <a class="pure-button" href="/history">History</a>
        <a class="pure-button" href="/logging">Logging</a>
        <a class="pure-button" href="/settings">Settings</a>
        <p></p>

        {{if ne .Error ""}}
            <h4>ERROR: {{.Error}}</h4>
        {{else}}
            <p>ServerTime: {{.Status.ServerTime}}</p>
            <p>AcerTimeStamp: {{.Status.AcerTimeStamp}}</p>
            <p>MissingFiles: {{.Status.MissingFiles}}</p>
            <p>AcerAge: {{.Status.AcerAge}}</p>
            <p>AcerFiles: {{.Status.AcerFiles}}</p>
            <p>BackedUpFiles: {{.Status.BackedUpFiles}}</p>
        {{end}}
    </body>
</html>
